DATABASE_URL=""

BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

NEXT_PUBLIC_APP_URL="http://localhost:3000"

NEXT_PUBLIC_STREAM_VIDEO_API_KEY=""
STREAM_VIDEO_SECRET_KEY=""
NEXT_PUBLIC_STREAM_CHAT_API_KEY=""
STREAM_CHAT_SECRET_KEY=""

OPENAI_API_KEY=""

